.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0;
  align-items: center;
  font-size: 1.4em;
  position: sticky;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar__icon {
  object-fit: contain;
  height: 70px;
  margin-left: 20px;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 40px;
}

.authnav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 40px;
  width: 5vw;
}
